*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:"Gilroy";

}
html,body{
    width:100%;
    height:100%;
    
}
#main{
    display:flex;
    width:100%;
    height:100%;

}
#left{
    position:relative;
    width:45%;
    height:100%;
    
}
#right{
    width:65%;
    height:100%;
    background-color:white;
}
#rtop{
    display:flex;
    width:100%;
    height:50%;
    background-color:royalblue;
}
#rbottom{
    width:100%;
    height:50%;
    background-image:url(https://images.unsplash.com/photo-1586788224331-947f68671cf1?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position:center;
}
#rtopleft{
    width:50%;
    height:100%;
    background-image:url(https://images.unsplash.com/photo-1557800636-894a64c1696f?auto=format&fit=crop&q=80&w=465&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position:center;
}
#rtopright{
    width:50%;
    height:100%;
    background-image:url(https://media.istockphoto.com/id/1214986523/photo/tangerine-or-clementine-with-green-leaf-on-blue-background-top-view-copy-space-christmas-or.jpg?s=1024x1024&w=is&k=20&c=6nKvHurkRf124-lVrc38H6KwUrl191YiGkilUA8MOfs=);
    background-size:cover;
    background-position:center;


}   
#lnav{
    display:flex;
    width:100%;
    padding:20px 30px;
    justify-content:space-between;
}
#lnavr a{
    margin-right:20px;
    text-decoration:none;
    color:#000;
    font-weight:500;
    font-size:14px;
}
#lnavr{
    display:flex;
    align-items:center;
}
#lnavr i{
    color:#1da1f2;
}
#left #textarea{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}



#textarea h1{
    font-size:90px;
    font-weight:900;
}

#textarea p{
    opacity:.6;
    font-size:12px;
    line-height:20px;
    margin-top:20px;
    margin-bottom:20px;
}

#textarea a{
    text-decoration:none;
    color:#000;
    border-bottom:1px solid #000;

}
#textarea a:hover{
    text-decoration:none;
    color:green;
    border-bottom:2px solid red;
 


}
#lnavr a{
    text-decoration:none;
    color:#000;
    border-bottom:1px solid #000;
}


#lnavr a:hover{
    text-decoration:none;
    color:gray;
    border-bottom:2px solid red;
}
@media(max-width:500px){
    #main{
        flex-direction:column;
    }
    #main #left{
        width:100%;
    }
    #main #right{
        width:100%;
    }
}
.ri-arrow-left-line:hover{
    color:grayl;
    border-bottom:2px solid red;;

}